@import './admin/app.css';
@import './admin/app.rtl.css';

body {
    font-family: Vazirmatn, sans-serif;
}

.form-group[class*=has-icon-].has-icon-left .form-control-icon {
    right: 0;
    left: unset;
}

.form-control {
    text-align: right;
    direction: rtl;
}

.has-icon-left {
    padding-right: 2.5rem;
}

.sidebar-link span {
    margin-right: 1rem;
}

.dropdown-menu li * {
    text-align: right;
}
